/* main-position */
:root {
    --color--iris: rgba(77, 90, 229, 1);
    --color--navy-blue: rgba(46, 47, 66, 1);
    --color--slate: rgba(67, 68, 85, 1);
    --color-navy-blue: rgba(46, 47, 66, 1);
    --color--white: #FFFFFF;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: "Roboto",sans-serif;
}
/* top-line */
.logo {
font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(77, 90, 229, 1);

}
.sec-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: rgba(46, 47, 66, 1);

}
.list {
    list-style: none;
}
.address {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em
}
.link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;
}
.link:hover,
.link:focus {
    color: #404bbf;
    color: #404bbf;
}

.contact-link {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #434455;
        letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
    color: #404bbf;
}
/* section-hero */
.header {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}
.section-hero {
        background: rgba(46, 47, 66, 1);
}
.button {
        background: #4D5AE5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff
}
button:hover {
    background-color:#ffffff;
    cursor: pointer;
}
.name-button {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        height: 24px;
            width: 105px;
            left: 32px;
            top: 16px;
            border-radius: nullpx;
            color: #FFFFFF
}
.title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #2E2F42;;
}
.text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #434455;;
}
.sec-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
}
.names {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
}
.position {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
}
/* footer-section */
.bottom-text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
}