/* main-position */
:root {
--color--iris: rgba(77, 90, 229, 1);
--color--navy-blue: rgba(46, 47, 66, 1);
--color--slate: rgba(67, 68, 85, 1);
--color--ocean: rgba(64, 75, 191, 1);
--color-cloud: rgba(244, 244, 253, 1);
}
.list {
    list-style: none;
}
a {
    text-decoration: none;
}
.body {
    font-family: "Roboto", sans-serif;
    color:#434455;
}
/* top line */
.logo {
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        color: #4D5AE5;
        letter-spacing: 0.03em;
        text-transform: uppercase
}
.sec-logo {
    color: #2E2F42;
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
}
.link-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.link-header:hover,
.link-header:focus {
color: #404bbf;
}

.address {
    font-style: normal
}
.contact-link {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: rgba(67, 68, 85, 1);
        letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus {
color: #404bbf;
}
/* Hero-section */
.primary-button {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        font-family: "Roboto", sans-serif;
        background: #F4F4FD;
        color:#4d5ae5;
        cursor: pointer
}
.primary-button:hover,
.primary-button:focus {
color: #FFFFFF;
background-color: #404BBF;
}

/* section-main */
.photo-link {
text-decoration: none;
}
.title-text {
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.description-text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#434455;
}
/* footer-section */
footer {
        background: rgba(46, 47, 66, 1);
}
.third-logo {
   color:rgba(244, 244, 253, 1);
}
.bottom-text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}
