/* main-position */
:root {
    --color--iris: rgba(77, 90, 229, 1);
    --color--navy-blue: rgba(46, 47, 66, 1);
    --color--slate: rgba(67, 68, 85, 1);
    --color-navy-blue: rgba(46, 47, 66, 1);
    --color--white: #FFFFFF;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: "Roboto",sans-serif;
}
/* top-line */
.logo {
    width: 44px;
    height: 21px;
font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: rgba(77, 90, 229, 1);

}
.sec-logo {
    width: 71px;
        height: 21px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        color: rgba(46, 47, 66, 1);

}
.address {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em
}
.studio-word link {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #2E2F42;
        letter-spacing: 0.02em
}
.portfolio-word link {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #2E2F42;
        letter-spacing: 0.02em;
            
}
.contacts-word link {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #2E2F42;
        letter-spacing: 0.02em;
      
}
.contact-link {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #434455;
        letter-spacing: 0.02em;
}
/* section-hero */
.header {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}
.section-hero {
        background: rgba(46, 47, 66, 1);
}
.button {
        background: #4D5AE5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff
}
button:hover {
    background-color:#ffffff;
    cursor: pointer;
}
.name-button {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        height: 24px;
            width: 105px;
            left: 32px;
            top: 16px;
            border-radius: nullpx;
            color: #FFFFFF
}
.title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #2E2F42;;
}
.text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #434455;;
}
.sec-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
}
.names {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
}
.position {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
}
/* footer-section */
.bottom-text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
}